@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  opacity: 0; }

body {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  color: #3d434b; }

@font-face {
  font-family: 'money';
  src: url("./assets/icon-font/money.eot?o2dz4q");
  src: url("./assets/icon-font/money.eot?o2dz4q#iefix") format("embedded-opentype"), url("./assets/icon-font/money.ttf?o2dz4q") format("truetype"), url("./assets/icon-font/money.woff?o2dz4q") format("woff"), url("./assets/icon-font/money.svg?o2dz4q#money") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'money' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-calendar:before {
  content: '\e900'; }

.icon-chevron-down:before {
  content: '\e901'; }

.icon-chevron-left:before {
  content: '\e902'; }

.icon-chevron-right:before {
  content: '\e903'; }

.icon-close:before {
  content: '\e904'; }

.icon-edit:before {
  content: '\e905'; }

.icon-moon .path1:before {
  content: '\e906';
  color: #ffce55; }

.icon-moon .path2:before {
  content: '\e907';
  margin-left: -1em;
  color: #3d434b; }

.icon-plus-circle:before {
  content: '\e908'; }

.icon-settings:before {
  content: '\e909'; }

.icon-star:before {
  content: '\e90a'; }

.icon-sun .path1:before {
  content: '\e90b';
  color: #ed5564; }

.icon-sun .path2:before {
  content: '\e90c';
  margin-left: -1em;
  color: #3d434b; }

.icon-sun .path3:before {
  content: '\e90d';
  margin-left: -1em;
  color: #3d434b; }

.icon-sun .path4:before {
  content: '\e90e';
  margin-left: -1em;
  color: #3d434b; }

.icon-sun .path5:before {
  content: '\e90f';
  margin-left: -1em;
  color: #3d434b; }

.icon-sun .path6:before {
  content: '\e910';
  margin-left: -1em;
  color: #3d434b; }

.icon-sun .path7:before {
  content: '\e911';
  margin-left: -1em;
  color: #3d434b; }

.icon-sun .path8:before {
  content: '\e912';
  margin-left: -1em;
  color: #3d434b; }

.icon-sun .path9:before {
  content: '\e913';
  margin-left: -1em;
  color: #3d434b; }

.icon-sun .path10:before {
  content: '\e914';
  margin-left: -1em;
  color: #3d434b; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

/* Custom
   ========================================================================== */
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "GmarketSans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: #3d434b; }

html {
  font-family: "GmarketSans", sans-serif; }

body {
  font-family: "GmarketSans", sans-serif; }

h1 {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none; }

a,
button {
  cursor: pointer; }

button {
  padding: 0;
  transition: opacity 300ms ease-in-out; }
  button:hover {
    opacity: 0.7; }

ul,
ol {
  padding: 0;
  list-style: none; }

address {
  font-style: normal; }

i {
  font-size: 24px; }

select {
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  /* IE 10, 11의 네이티브 화살표 숨기기 */ }
  select::-ms-expand {
    display: none; }

/* number input 오른쪽 화살표 제거 in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield; }

.border-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 24px;
  background-color: #5d9cec;
  border: 1px solid #3d434b;
  border-radius: 8px;
  box-shadow: 0 8px #3d434b; }

.button {
  font-size: 21px;
  font-weight: 700;
  line-height: 100%;
  width: 100%;
  height: 48px;
  color: #fff;
  border: 1px solid #3d434b;
  border-radius: 8px;
  box-shadow: 0 8px #3d434b; }
  .button-yellow {
    background-color: #ffce55;
    transition: background-color 500ms ease-in-out; }
    .button-yellow:hover {
      background-color: #f6bb43;
      opacity: 100; }
  .button-green {
    background-color: #a0d468;
    transition: background-color 500ms ease-in-out; }
    .button-green:hover {
      background-color: #8cc051;
      opacity: 100; }
  .button:focus {
    box-shadow: 0 8px #3d434b; }
  .button:disabled {
    cursor: default;
    background-color: rgba(61, 67, 75, 0.5);
    opacity: 0.3; }
    .button:disabled:hover {
      background-color: rgba(61, 67, 75, 0.5); }

.details {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 12px;
  background-color: #fff;
  border: 1px solid #3d434b;
  border-radius: 8px; }
  .details.select {
    color: rgba(61, 67, 75, 0.3);
    background: url("../../assets/images/chevron-down.svg") no-repeat 97% 50%;
    background-color: #fff; }
  .details.input::placeholder {
    color: rgba(61, 67, 75, 0.3); }

.money-input {
  position: relative;
  width: 100%; }
  .money-input span {
    position: absolute;
    top: 13px;
    right: 16px;
    font-weight: 700; }

body {
  background-color: #e6e9ee; }

.window-title, .window-auther {
  display: none; }

.window .app {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0 24px;
  overflow: hidden;
  background-color: #f8f8fc; }

@media screen and (min-width: 768px) {
  .window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .window-title, .window-auther {
      display: block;
      color: rgba(61, 67, 75, 0.5); }
    .window-title {
      margin-bottom: 40px;
      font-family: "Bungee", cursive;
      font-size: 28px; }
    .window .app {
      flex-grow: 1;
      width: 360px;
      height: 740px;
      margin-bottom: 40px;
      overflow: hidden;
      border-radius: 16px; } }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 400;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 67, 75, 0.5);
  backdrop-filter: blur(2px); }

.gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  height: 72px;
  padding: 0 0 0 8px; }
  .gnb-title {
    display: flex;
    align-items: center;
    justify-content: center; }
    .gnb-title h2 {
      font-size: 21px;
      font-weight: 700;
      line-height: 100%;
      margin-right: 6px; }
    .gnb-title i {
      font-size: 16px;
      color: rgba(61, 67, 75, 0.5);
      transition: rotate 500ms ease-in-out; }
  .gnb-setting {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px; }
    .gnb-setting:hover {
      animation: rotation 800ms; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

.gnb-menu {
  position: absolute;
  top: 64px;
  left: 16px;
  z-index: 200; }
  .gnb-menu-list {
    width: 160px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #3d434b;
    border-radius: 8px; }
    .gnb-menu-list-item button {
      width: 100%;
      padding: 12px 20px;
      font-weight: 700;
      text-align: left; }
      .gnb-menu-list-item button:hover {
        background-color: #f8f8fc; }
    .gnb-menu-list-item .is-active {
      color: #5d9cec; }

.preparing {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: calc(100% - 72px);
  padding: 0 24px;
  padding-bottom: 32px;
  background-color: #f8f8fc; }
  .preparing-message {
    height: 100%;
    color: #3d434b;
    background-color: rgba(61, 67, 75, 0.3); }

.intro {
  flex-grow: 1;
  padding: 40px 24px;
  margin-bottom: 32px; }
  .intro-plus-button {
    margin-bottom: 16px; }
    .intro-plus-button i {
      font-size: 48px;
      color: #fff; }
  .intro-title {
    font-size: 21px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 16px;
    line-height: 130%;
    color: #fff; }
  .intro-subtxt {
    line-height: 130%;
    color: #fff; }

.setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 40px 24px;
  margin-bottom: 32px; }
  .setting-input-group {
    width: 100%; }
    .setting-input-group .title {
      font-size: 21px;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 16px;
      line-height: 130%;
      color: #fff; }
    .setting-input-group .alert {
      margin-bottom: 8px;
      color: #ffce55; }
    .setting-input-group .subtxt {
      line-height: 130%;
      color: #fff; }
  .setting-start-button {
    bottom: 32px;
    width: 100%; }

.spend {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 72px); }
  .spend-summary {
    margin-bottom: 16px; }
    .spend-summary .title {
      font-size: 21px;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 12px;
      color: #fff; }
    .spend-summary .bar {
      position: relative;
      width: 100%;
      height: 10px;
      margin-bottom: 16px;
      overflow: hidden;
      background-color: #fff;
      border: 1px solid #3d434b;
      border-radius: 4px;
      box-sizing: content-box; }
      .spend-summary .bar-active {
        position: absolute;
        top: -1px;
        left: -1px;
        width: 12px;
        height: 100%;
        max-width: 100%;
        min-width: 12px;
        background-color: #a0d468;
        border: 1px solid #3d434b;
        border-radius: 4px;
        box-sizing: content-box;
        transition: all 1s ease-in-out; }
      .spend-summary .bar .green-bar {
        background-color: #a0d468; }
      .spend-summary .bar .yellow-bar {
        background-color: #ffce55; }
      .spend-summary .bar .red-bar {
        background-color: #ed5564; }
    .spend-summary .term {
      margin-bottom: 8px;
      color: #fff; }
    .spend-summary .budget span,
    .spend-summary .budget button {
      color: #fff; }
    .spend-summary .budget span {
      margin-right: 4px; }
    .spend-summary .budget button {
      font-size: 12px;
      font-weight: 500;
      line-height: 100%;
      padding: 5px 8px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 4px; }
  .spend-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%; }
    .spend-empty span {
      color: rgba(61, 67, 75, 0.5); }
  .spend-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .spend-list::-webkit-scrollbar {
      display: none; }
    .spend-list-day {
      width: 100%;
      padding: 24px 0;
      border-bottom: 1px dashed rgba(61, 67, 75, 0.5); }
      .spend-list-day:last-child {
        margin-bottom: 64px;
        border-bottom: 0; }
    .spend-list-title {
      margin-bottom: 16px;
      text-align: left; }
    .spend-list-item {
      width: 100%;
      margin-bottom: 16px; }
      .spend-list-item:last-child {
        margin-bottom: 0; }
      .spend-list-item button {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%; }
        .spend-list-item button .content {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-bottom: 2px; }
          .spend-list-item button .content .catagory {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 500;
            line-height: 100%;
            flex-shrink: 0;
            width: 66px;
            height: 22px;
            margin-right: 8px;
            background-color: #fff;
            border: 1px solid #3d434b;
            border-radius: 4px; }
          .spend-list-item button .content .title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-grow: 1;
            text-align: left; }
            .spend-list-item button .content .title span {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              max-width: 136px;
              margin-right: 4px; }
            .spend-list-item button .content .title i {
              font-size: 14px;
              color: #ed5564; }
          .spend-list-item button .content .expense {
            width: 86px;
            text-align: right; }
          .spend-list-item button .content .blue-border {
            border: 1px solid #5d9cec; }
          .spend-list-item button .content .blue-text {
            color: #5d9cec; }
        .spend-list-item button .memo {
          font-size: 12px;
          font-weight: 500;
          line-height: 100%;
          padding-left: 74px;
          line-height: 130%;
          color: rgba(61, 67, 75, 0.5);
          text-align: left; }
  .spend-add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    bottom: 24px;
    width: 60px;
    height: 60px;
    border: 2px solid #3d434b;
    border-radius: 50%; }
    .spend-add-button i {
      color: #fff; }

.spend-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  padding: 24px 24px 32px 24px;
  background-color: #f8f8fc; }
  .spend-modal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 40px 24px;
    background-color: #fff;
    border-radius: 8px; }
    .spend-modal-content .input-group h3 {
      font-size: 21px;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 32px; }
    .spend-modal-content .input-group .spend-date {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 0; }
      .spend-modal-content .input-group .spend-date button {
        width: 40px;
        height: 40px; }
    .spend-modal-content .input-group .spend-memo {
      height: 80px;
      max-width: 100%;
      padding: 16px; }
    .spend-modal-content .input-group .spend-star {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .spend-modal-content .input-group .spend-star i {
        margin-right: 4px;
        color: #e6e9ee;
        cursor: pointer;
        transition: color 200ms ease-in-out; }
        .spend-modal-content .input-group .spend-star i:hover {
          color: rgba(61, 67, 75, 0.3); }
      .spend-modal-content .input-group .spend-star .red {
        color: #ed5564; }
        .spend-modal-content .input-group .spend-star .red:hover {
          color: #db4453; }
      .spend-modal-content .input-group .spend-star span {
        margin-top: 4px; }
    .spend-modal-content .input-group .spend-list-delete-button {
      padding: 8px 16px;
      margin-top: 12px;
      color: #ed5564;
      text-decoration-line: underline;
      text-underline-offset: 6px; }
  .spend-modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32px;
    right: 32px;
    width: 40px;
    height: 40px; }

.calendar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: auto;
  padding: 40px 24px;
  background-color: #fff;
  border-radius: 16px; }
  .calendar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px; }
    .calendar-title h3 {
      font-size: 21px;
      font-weight: 700;
      line-height: 100%; }
    .calendar-title button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px; }
  .calendar-content {
    margin-bottom: 24px; }
    .calendar-content .grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 44px; }
      .calendar-content .grid div {
        display: flex;
        align-items: center;
        justify-content: center; }
        .calendar-content .grid div.sun {
          color: #ed5564; }
        .calendar-content .grid div.sat {
          color: #5d9cec; }
        .calendar-content .grid div.today {
          font-weight: 700;
          color: #8cc051; }
        .calendar-content .grid div.selected {
          font-weight: 700;
          color: #fff;
          background-color: #a0d468;
          border-radius: 22px; }
      .calendar-content .grid.date {
        grid-template-rows: repeat(6, 44px); }
        .calendar-content .grid.date div {
          cursor: pointer; }

/*# sourceMappingURL=style.css.map */