.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $add-modal-level;
  width: 100%;
  height: 100%;
  padding: 24px 24px 32px 24px;
  background-color: $background;

  &-add {
    @include flex(center, space-between);
    width: 100%;
    height: 100%;
    padding: 40px 24px;
    background-color: $white;
    border-radius: 8px;

    &-content {
      h3 {
        @include font-large;
        margin-bottom: 32px;
      }

      .input-group {
        .calendar-button {
          @include flex(center, space-between);
          padding-right: 8px;
        }

        textarea {
          height: 80px;
          padding: 16px;
        }

        .star-button {
          @include flex;
          width: 100%;

          i {
            margin-right: 4px;
            color: $pale-gray;
          }

          .star-button-red {
            color: $red;
          }

          span {
            margin-top: 4px;
          }
        }
      }
    }

    &-save {
      background-color: $green;
    }

    &-close {
      @include flex;
      position: absolute;
      top: 32px;
      right: 32px;
      width: 40px;
      height: 40px;
    }
  }
}
