body {
  background-color: $pale-gray;
}

.window {
  &-title,
  &-auther {
    display: none;
  }

  .app {
    @include flex(flex-start, flex-start);
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0 24px;
    overflow: hidden;
    background-color: $background;
  }

  @include large-screen {
    @include pos-center;
    @include flex;
    flex-direction: column;
    text-align: center;

    &-title,
    &-auther {
      display: block;
      color: $black50;
    }

    &-title {
      margin-bottom: 40px;
      font-family: $font-bungee;
      font-size: 28px;
    }

    .app {
      flex-grow: 1;
      width: 360px;
      height: 740px;
      margin-bottom: 40px;
      overflow: hidden;
      border-radius: 16px;
    }
  }
}
