.gnb {
  @include flex(center, space-between);
  width: 100%;
  height: 72px;
  padding: 0 0 0 8px;

  &-title {
    @include flex;

    h2 {
      @include font-large;
      margin-right: 6px;
    }

    i {
      font-size: 16px;
      color: $black50;
    }
  }

  &-setting {
    @include flex;
    width: 40px;
    height: 40px;

    &:hover {
      animation: rotation 800ms;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}
