.intro {
  flex-grow: 1;
  padding: 40px 24px;
  margin-bottom: 32px;

  &-plus-button {
    i {
      font-size: 48px;
      color: $white;
    }

    margin-bottom: 16px;
  }

  &-title {
    @include font-large;
    margin-bottom: 16px;
    line-height: $line-height-130;
    color: $white;
  }

  &-subtxt {
    line-height: $line-height-130;
    color: $white;
  }
}
