.intro {
  @include flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: auto;
  padding: 24px 16px;
  color: $white;
  background-color: $blue;
  border: 1px solid $black;
  border-bottom: 8px solid $black;
  border-radius: 12px 12px 16px 16px;

  &-add {
    i {
      font-size: 48px;
      color: $white;
    }

    margin-bottom: 16px;
  }

  &-title {
    @include font-large;
    margin-bottom: 16px;
    color: $white;
  }

  &-subtxt {
    color: $white;
  }
}
