$black: #3d434b;
$black50: rgba(61, 67, 75, 0.5);
$black30: rgba(61, 67, 75, 0.3);

$background: #f8f8fc;
$pale-gray: #e6e9ee;
$white: #fff;

$blue: #5d9cec;
$red: #ed5564;
$yellow: #ffce55;
$green: #a0d468;
