$font-gmarket: 'GmarketSans', sans-serif;
$font-bungee: 'Bungee', cursive;

$font-size-21: 21px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-12: 12px;
$font-size-10: 10px;

$font-medium: 500;
$font-bold: 700;

$line-height-100: 100%;
$line-height-130: 130%;

@mixin font-large {
  font-size: $font-size-21;
  font-weight: $font-bold;
  line-height: $line-height-100;
}

@mixin font-regular {
  font-size: $font-size-14;
  font-weight: $font-medium;
  line-height: $line-height-100;
}

@mixin font-small {
  font-size: $font-size-12;
  font-weight: $font-medium;
  line-height: $line-height-100;
}

@mixin font-tiny {
  font-size: $font-size-10;
  font-weight: $font-medium;
  line-height: $line-height-100;
}

body {
  @include font-regular();
  color: $black;
}
