// sass-lint:disable-all

@font-face {
  font-family: 'money';
  src: url('./assets/icon-font/money.eot');
  src: url('./assets/icon-font/money.eot#iefix') format('embedded-opentype'),
    url('./assets/icon-font/money.ttf') format('truetype'),
    url('./assets/icon-font/money.woff') format('woff'),
    url('./assets/icon-font/money.svg#money') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'money' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: '\e900';
}
.icon-chevron-down:before {
  content: '\e901';
}
.icon-edit:before {
  content: '\e902';
}
.icon-plus-circle:before {
  content: '\e903';
}
.icon-settings:before {
  content: '\e904';
}
.icon-star:before {
  content: '\e905';
}
